<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>peer deep into XNU's soul</string>
	<key>language</key>
	<string>c</string>
	<key>name</key>
	<string>kinspect</string>
</dict>
</plist>
